<script>
/*$(document).ready(function () {

  $(".manage").hide();
  $(".tiplist").hover(
    function() {$('.manage').show();},
    function() {$('.manage').hide();}
  );
});*/
</script>

<%# lists.each do |list| %>
    <%#= render 'lists/row', :list => list %>
<%# end %>

<div class="tips">

<% lists.each do |list| %>


  <div class="tiplist">
    <div class="tipContainer">
      <div class="picture">
        <img src="/assets/ruby-header.png"/>
      </div>
      <span class="category label">
        <%= list.category.name %>
      </span>
    </div>

    <div class="tipContainer">
      <h4 class="title">
        <%= list.title %>
      </h4>
        <div class="manage">
          <%= link_to edit_list_path(list) do %>
            <i class="icon-heart"></i>
          <% end %>
          <% if can?(:manage, list) %>
            <%= link_to edit_list_path(list) do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to list, :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
              <i class="icon-trash"></i>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="tipContainer">
      <h6 class="author">
        <%= list.user.first_name %> · <%= list.created_at.strftime("%b %d") %>
      </h6>
    </div>

  </div>

  <% end %>

</div>
