<% if user_signed_in? %>

<div class="row">
  <div class="user">

    <div class="avatar">
        <img src="http://lorempixel.com/165/165" width="165" height="165" alt="Avatar">
    </div>
    <div class="info">
      <h1><%= current_user.first_name %></h1>
            <%= link_to "#" do %>
              <i class="icon-eye-open"></i>
            <% end %>
      <span class="followers">

        FOLLOWING <%= current_user.follows.length %> | FOLLOWERS <%= current_user.follows.length %>
      </span>
    </div>
</div>

<div style="clear:both"/>
<% end %>

<div class="row">
<%= render 'table', :lists => @lists %>
</div>
