<div class="row">
  <div class="user">

    <div class="avatar">
        <img src="http://lorempixel.com/165/165" width="165" height="165" alt="Avatar">
    </div>
    <div class="info">
      <h1><%= @user.first_name %></h1>
            <%= link_to "#" do %>
              <i class="icon-eye-open"></i>
            <% end %>
      <span class="followers">

        FOLLOWING <%= @user.follows.length %> | FOLLOWERS <%= @user.follows.length %>
      </span>
    </div>
</div>

<div style="clear:both"/>

<div class="row">
<%= render 'lists/table', :lists => @user.lists %>
</div>



