<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand"><%#= image_tag("logo.png") %>tipster</a>


      <div class="container nav-collapse">

        <ul class="nav pull-left">

          <li>
            <div class="btn-group">
                            <% if user_signed_in? %>
                  <%= link_to current_user do %>
                  <button class="btn">
                    <i class="icon-dashboard"></i>
                  </button>
                  <% end %>

                  <%= link_to current_user do %>
                  <button class="btn">
                    <i class="icon-cog"></i>
                  </button>
                  <% end %>

                  <%#= link_to current_user do %>
                  <button class="btn">
                    <i class="icon-group"></i>
                  </button>
                  <%# end %>

                  <%= link_to citygate.destroy_user_session_path, :method => :delete do %>
                  <button class="btn">
                    <i class="icon-signout"></i>
                  </button>
                  <% end %>

              <% else %>
                <%= button_with_icon 'Sign In', citygate.new_user_session_path, 'glyphicons/unlock.png' %>

                <%= button_with_icon 'Sign in with Twitter', '/users/auth/twitter', 'glyphicons/twitter.png' %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%#= render 'layouts/flash' %>
</div>
